{% if ssh.motd is defined %}
{{ ssh.motd }}
{% else %}
#########################################################
Successfully logged in to: {{ inventory_hostname }}
#########################################################

{% endif %}