{% if comments|default(False) %}
###############
# Loopback
###############
{{ loopback | default() | to_nice_yaml | comment(prefix='# lopback:', postfix='') -}}
{% endif %}
auto lo
iface lo inet loopback
{% for loopback in loopback.ips|default() %}
    address {{ loopback }}
{% else %}
    address 127.0.0.1
{% endfor %}
{% if evpn_mh is defined %}{% if evpn_mh.rp > 0 %}
    address {{ multicast.rpaddr|ipaddr('address') }}
{% endif %}{% endif %}
{% if loopback.clag_vxlan_anycast_ip is defined %}
    clagd-vxlan-anycast-ip {{ loopback.clag_vxlan_anycast_ip }}
{% endif %}
{% if loopback.vxlan_local_tunnel_ip is defined %}
    vxlan-local-tunnelip {{ loopback.vxlan_local_tunnel_ip }}
{% endif %}
{% for extra in loopback.extras|default() %}
    {{ extra }}
{% endfor %}
